<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lab 7: 'Node Provided' Twiter Ticker</title>

    <!-- Bootstrap & Angular-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lab7.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  </head>
  <body ng-controller="mainController">
    <h1>Graigor's Tweet Querier</h1>

    <form ng-submit="getTweets()">
      Query Search: <input type="text" ng-model="query">
      Number of results: <input type="number" ng-model="number" max="1000" required>
      <button type="button" ng-click="getTweets()" class="btn btn-md">Search</button>
    </form>

    <div id="buttons">
      <button type="button" ng-click="displayTweets()" class="btn btn-md">Display</button>
      <button type="reset" ng-click="reset()" class="btn btn-md">Reset</button>
    </div>

    <form ng-submit="exportFile()">
      <select name="exportType" id="selectExport" ng-model="fileType">
        <option value="JSON">JSON</option>
        <option value="CSV">CSV</option>
        <option value="XML">XML</option>
      </select>
      <button id="export" type="submit" class="btn btn-md">Export file</button>
    </form>

    <p id="response" class="text-warning lead bg-warning"></p>

    <ul>
      <li ng-repeat="tweet in tweets">
        <span>{{tweet.text}}</span>
      </li>
    </ul>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	  <script src="lab7.js" type="text/javascript"></script>
  </body>
</html>
